<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">

  <%= render 'layouts/administrator_navbar' %>

  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">
    <div class="content">
      <!-- BEGIN PlACE PAGE CONTENT HERE -->
      <ul class="breadcrumb">
        <li>
          <p>Você esta em:</p>
        </li>
        <li><%= link_to 'Movimentações', movements_path %> </li>
        <li><%= link_to 'Editar Movimento', edit_movement_path, class: 'active' %> </li>
      </ul>
      <div class="row-fluid">
      <div class="col-md-12">
          <div class="page-title">
            <h3>Editar - <span class="semi-bold">Movimento</span></h3>
          </div>
      </div>
        <div class="col-md-12">
          <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Preencha os campos abaixo com as informações do <span class="semi-bold">movimento</span></h4>
              <div class="tools"> <a href="javascript:;" class="reload"></a> </div>
            </div>
            <div class="grid-body no-border">
                            <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>

      <!-- END PLACE PAGE CONTENT HERE -->
    </div>
  </div>
  <!-- END PAGE CONTAINER -->
</div>
<!-- END CONTENT -->