*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/database.yml
.idea/
.DS_Store
bower_components/
.coveralls.yml
*.env
## Environment normalisation:
/.bundle
/vendor/bundle
# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset
# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# IDE archives.
/.idea
.idea/

# Uploaded files

/public/uploads

*.swp
*.*~
/.bundle
/log/*.log
/tmp
tmp/**/*
tmp/*
tmp
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
config/database.yml
config/unicorn.rb
public/system/*
public/upload/*
public/assets/*
coverage
.DS_Store
._.DS_Store
*.mwb.baknode_modules
node_modules
stdout

### RubyMine ###
*.iml

## Directory-based project format:
.idea/