<% content_for :page_level_css do %>
    <%= stylesheet_link_tag '/assets/bootstrap-select2/select2.min',
                            '/assets/bootstrap-datepicker/datepicker',
                            '/assets/jquery-validation/jquery.validate.min'  %>
<% end %>

<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">

  <%= render 'layouts/administrator_navbar' %>

  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">
    <div class="content">
      <!-- BEGIN PlACE PAGE CONTENT HERE -->
      <ul class="breadcrumb">
        <li>
          <p>Você esta em:</p>
        </li>
        <li><a href="#" class="active">Cadastro de contratos</a> </li>
      </ul>
      <div class="row-fluid">
        <div class="col-md-12">
          <div class="page-title">
            <h3>Cadastrar - <span class="semi-bold">contrato</span></h3>
          </div>
        </div>
        <div class="col-md-12">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Preencha os campos abaixo com as informações do <span class="semi-bold">contrato</span></h4>
              <div class="tools"> <a href="javascript:;" class="reload"></a> </div>
            </div>
            <div class="grid-body no-border">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>

      <!-- END PLACE PAGE CONTENT HERE -->
    </div>
  </div>
  <!-- END PAGE CONTAINER -->
</div>
<!-- END CONTENT -->

<!-- BEGIN PAGE LEVEL JS -->
<% content_for :page_level_js do %>
    <%= javascript_include_tag '/assets/bootstrap-select2/select2.min',
                               '/assets/bootstrap-datepicker/bootstrap-datepicker',
                               '/assets/jquery-validation/jquery.validate.min',
                               '/assets/form_elements'  %>
<% end %>
<!-- END PAGE LEVEL JS -->