<div class="main">
  <h1 class="page-header">Olá <%= current_user.name %>, esta é sua situação atual!</h1>
  <p>Calendário.</p>
  <p>Status do fluxo de caixa.</p>
  <p>Dashboard do usuário...</p>
  <p>Relação de mensalidades pagas e pendentes.</p>
</div>