<%= render 'layouts/administrator_navbar' %>
  <div class="container vanzeiro-container">
    <div class="col-md-4">
      <article class="dash-item">
        <h1>Passageiros</h1>
        <p>23</p>
      </article>
    </div>
    <div class="col-md-4">
      <article class="dash-item">
        <h1>Movimentações</h1>
        <p>Receitas: +55</p>
        <p>Despesas: -22</p>
      </article>
    </div>
    <div class="col-md-3">
      <article class="dash-item">
        <h1>Contratos</h1>
        <p>5</p>
      </article>
    </div>
  </div>
<% if notice %>
  <%= notice %>!
<% end %>