<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">

  <%= render 'layouts/administrator_navbar' %>
  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">
    <div class="content">
      <!-- BEGIN PAGE TITLE -->
      <div class="page-title">
        <h3>Início</h3>
      </div>
      <!-- END PAGE TITLE -->
      <!-- BEGIN PlACE PAGE CONTENT HERE -->
      <div id="container">
        <div class="row 2col">
          <!-- ALERT -->
          <div class="alert alert-warning">
            <button class="close" data-dismiss="alert"></button>
            Calma!! Nós sabemos que isto ainda é pouco, e estamos trabalhando para acrescentar novas funcionalidades <br />
            e painéis melhores e mais úteis do que este.
          </div>
          <!-- / ALERT -->
          <div class="col-md-3 col-sm-6 spacing-bottom-sm spacing-bottom">
            <div class="tiles green added-margin">
              <div class="tiles-body">
                <div class="controller"> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                <div class="tiles-title"> TOTAL DE PASSAGEIROS </div>
                <div class="heading"><span class="animate-number" data-value="<%= @passengers %>" data-animation-duration="1000">0</span> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row tiles-container m-b-10 tiles grey">
          <div class="col-md-12">
            <div class="tiles white col-md-8 col-sm-8 no-padding">
              <div class="tiles-body">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="mini-chart-wrapper">
                      <div class="chart-details-wrapper">
                        <div class="chartname"> Novos passageiros no mês </div>
                        <div class="chart-value"> 17,555 </div>
                      </div>
                      <div class="mini-chart">
                        <div id="mini-chart-orders"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="mini-chart-wrapper">
                      <div class="chart-details-wrapper">
                        <div class="chartname"> Balanço Mensal </div>
                        <div class="chart-value"> $17,555 </div>
                      </div>
                      <div class="mini-chart">
                        <div id="mini-chart-other"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div id="ricksaw" class="ricksaw"></div>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-4 col-sm-4 no-padding">
              <div class="tiles grey ">
                <div class="tiles white no-margin">
                  <div class="tiles-body">
                    <div class="tiles-title blend"> Total</div>
                    <div class="heading">
                      R$<span data-animation-duration="1000" data-value="432852" class="animate-number">0</span>
                    </div>
                    44% mais <span class="blend">que o ultimo mês</span>
                  </div>
                </div>
                <div id="legend"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PLACE PAGE CONTENT HERE -->
    </div>
  </div>
  <!-- END PAGE CONTAINER -->
</div>
<!-- END CONTENT -->

<% if notice %>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            Messenger().post("<%= notice %>!</a>");
        });
    </script>
<% end %>