<!--BEGIN SLIDER -->
<div class="tp-banner-container">
  <div class="tp-banner" id="home" >
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
        <!-- MAIN IMAGE -->
        <img src="/assets/bg/slide_one.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

        <!-- LAYERS -->
        <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
             data-x="center" data-hoffset="0"
             data-y="60"
             data-speed="500"
             data-start="800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6"><h2 class="text-white custom-font title ">SEM TEMPO?<br> APROVEITE SEU BEM MAIS PRECIOSO</h2>

        </div>
        <div class="tp-caption sfb slider tp-resizeme slider"
             data-x="center"
             data-hoffset="0"
             data-y="240"
             data-speed="800"
             data-start="1000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <a href="#features" class="btn btn-purple btn-lg btn-large m-r-10">MOSTRE-ME COMO</a>
        </div>
        <div class="tp-caption fade slider tp-resizeme slider"
             data-x="center"
             data-hoffset="0"
             data-y="300"
             data-speed="500"
             data-start="800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">	<a href="#newsletter_mail" class="text-white m-r-10">ou receba nossas novidades por email</a>
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>
<!--END SLIDER-->