<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <br>
      <h4 id="nick" class="semi-bold"></h4>
      <p class="no-margin">Confira abaixo as informações da conta.</p>
      <br>
    </div>
    <div class="modal-body">

      <div class="row form-row">
        <div class="col-md-6">
          <label for="agency" class="form-label">Agencia</label>
          <input id="agency" type="text" class="form-control" disabled="disabled">
        </div>
        <div class="col-md-6">
          <label for="account" class="form-label">Conta</label>
          <input id="account" type="text" class="form-control" disabled="disabled">
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-8">
          <label for="bank" class="form-label">Banco</label>
          <input id="bank" type="text" class="form-control" disabled="disabled">
        </div>
        <div class="col-md-4">
          <label for="agreement" class="form-label">Convênio</label>
          <input id="agreement" type="text" class="form-control" disabled="disabled">
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-12">
          <h4 class="semi-bold text-center">Informações</h4>
          <hr />
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-6">
          <input id="instruction1" type="text" class="form-control" disabled="disabled">
        </div>
        <div class="col-md-6">
          <input id="instruction2" type="text" class="form-control" disabled="disabled">
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-6">
          <input id="instruction3" type="text" class="form-control" disabled="disabled">
        </div>
        <div class="col-md-6">
          <input id="instruction4" type="text" class="form-control" disabled="disabled">
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-6">
          <input id="instruction5" type="text" class="form-control" disabled="disabled">
        </div>
        <div class="col-md-6">
          <input id="instruction6" type="text" class="form-control" disabled="disabled">
        </div>
      </div>

      <div class="row form-row">
        <div class="col-md-6">
          <input id="instruction7" type="text" class="form-control" disabled="disabled">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <%= link_to 'Editar', '', class: 'btn btn-primary',  id: 'editlink' %>
        <%= link_to 'Deletar', '', class: 'btn btn-danger', method: :delete,
                    data: { confirm: 'Deseja excluir?' }, id: 'id' %>
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->