<!-- BEGIN CONTENT -->
<div class="page-container row-fluid">

  <%= render 'layouts/administrator_navbar' %>

  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">
    <div class="content">
      <!-- BEGIN PlACE PAGE CONTENT HERE -->
      <ul class="breadcrumb">
        <li>
          <p>Você esta em:</p>
        </li>
        <li><a href="#" class="active">Cadastro de contas</a> </li>
      </ul>
      <div class="row-fluid">
        <div class="col-md-12">
          <div class="page-title">
            <h3>Cadastrar - <span class="semi-bold">conta</span></h3>
          </div>
        </div>
        <div class="col-md-12">
          <div class="grid simple">
            <div class="grid-title no-border">
              <h4>Preencha os campos abaixo com as informações da <span class="semi-bold">conta</span></h4>
              <div class="tools"> <a href="javascript:;" class="reload"></a> </div>
              <div class="alert alert-info">
                <button class="close" data-dismiss="alert"></button>
                <b> Fique tranquilo(a): </b> já estamos providenciando suportar os mais diversos bancos. <br />
                Suportamos por enquanto apenas o Banco do Brasil e CAIXA.
              </div>
            </div>
            <!-- ALERT -->
            <!-- / ALERT -->
            <div class="grid-body no-border">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>

      <!-- END PLACE PAGE CONTENT HERE -->
    </div>
  </div>
  <!-- END PAGE CONTAINER -->
</div>
<!-- END CONTENT -->